{% extends 'base.html.twig' %}

{% block title %}Dades de la Secció{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/assets/css/estilsSeccio.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="seccio-container">
    <h1 id="titolSeccio">Dades Secció {{ seccio.codi }}</h1>

    <div class="imatge-container">
        <img src="{{ asset('assets/img/seccions/' ~ seccio.nomImg ~ ' ') }}" alt="Imatge de la secció" class="imatgeSeccio">
    </div>

    <div class="dades-seccio">
        <p><strong>Nom:</strong> {{ seccio.nom }}</p>
        <p><strong>Cicle:</strong> {{ seccio.cicle }}</p>
        <p><strong>Curs:</strong> {{ seccio.curs }}</p>
    </div>

    <h2>Membres de l'equip</h2>
    <ul class="llista-membres">
        {% for membre in seccio.membres %}
            <li>{{ membre }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('inici') }}" class="btn-volver">Tornar a l'inici</a>
</section>
{% endblock %}
