{% extends 'base.html.twig' %}

{% block title %}Error: Secció no trobada{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/assets/css/estilsSeccio.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section>
        <h1 id="titolSeccio">No s'ha trobat la Secció {{ codi }}</h1>

        <img src="{{ asset('assets/img/seccions/error.webp') }}" alt="Imatge d'error" class="imatgeSeccio">

        <p class="paragrafSeccio">Ho sentim, no hem trobat cap seccio amb aquest codi. Per favor, verifiqui el codi introduït.</p>
    </section>
    <a href="{{ path('inici') }}" class="btn-volver">Tornar a l'inici</a>
{% endblock %}
